* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 98%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
}

#play-area {
  flex: 9;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2%;
}

#board {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  flex: 3 0 auto;
}

#board .coord {
  display: flex;
  border: 1px solid black;
  flex: 1 1 10%;
  transition: all ease-in-out 100ms;
}

#ships {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
/*
.ship[data-ship='carrier'] {
  position: absolute;
  top: 15%;
}

.ship[data-ship='battleship'] {
  position: absolute;
  top: 35%;
}

.ship[data-ship='cruiser'] {
  position: absolute;
  top: 55%;
}

.ship[data-ship='submarine'] {
  position: absolute;
  top: 75%;
}

.ship[data-ship='destroyer'] {
  position: absolute;
  top: 85%;
}
*/
.buttons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
