* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 98%;
  display: flex;
  flex-direction: column;
  background-image: url("body-background.jpg");
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
}

/* Player Name Page*/
form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

form input {
  font-size: 125%;
  width: 25%;
  height: 8%;
  text-align: center;
  border-radius: 5px;
  border: 1px inset black;
  background-color: rgba(220, 220, 220, 0.75);
}

form button {
  min-width: 25%;
  background-color: rgba(89, 216, 255, 0.8);
  border: none;
  outline: 2px solid rgba(89, 216, 255, 0.8);
  border-radius: 5px;
}

#play-area {
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

/*ship page*/
#board {
  flex: 1 1 66%;
  display: flex;
  flex-wrap: wrap;
  border-right: 2px solid goldenrod;
  border-bottom: 2px solid goldenrod;
  background-color: rgba(117, 117, 117, 0.4);
}

#board .coord {
  display: flex;
  border: 2px solid goldenrod;
  border-bottom: none;
  border-right: none;
  flex: 1 1 10%;
  transition: all ease-in-out 100ms;
}

#ships {
  flex: 1 0 33%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1%;
  font-weight: bold;
}

.ship {
  border: 2px solid black;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(175, 175, 175, 0.6);
}

.ship[data-ship="carrier"] {
  width: 100%;
}

.ship[data-ship="battleship"] {
  width: 80%;
}

.ship[data-ship="cruiser"] {
  width: 60%;
}

.ship[data-ship="submarine"] {
  width: 60%;
}

.ship[data-ship="destroyer"] {
  width: 40%;
}

.ship.vertical {
  border: 2px solid black;
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  word-wrap: break-word;
}

.ship[data-ship="carrier"].vertical {
  height: 50%;
}

.ship[data-ship="battleship"].vertical {
  height: 40%;
}

.ship[data-ship="cruiser"].vertical {
  height: 30%;
}

.ship[data-ship="submarine"].vertical {
  height: 30%;
}

.ship[data-ship="destroyer"].vertical {
  height: 20%;
}

.buttons {
  flex: 2 0 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons button {
  height: 75%;
  width: 20%;
  background-color: rgba(89, 216, 255, 0.8);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
/* hit page */
#hit-board {
  flex: 1 1 66%;
  display: flex;
  flex-wrap: wrap;
  border-right: 2px solid goldenrod;
  border-bottom: 2px solid goldenrod;
  background-color: rgba(117, 117, 117, 0.4);
}

#hit-board .coord {
  display: flex;
  border: 2px solid goldenrod;
  border-bottom: none;
  border-right: none;
  flex: 1 1 10%;
  transition: all ease-in-out 100ms;
}

.board-headings {
  display: flex;
  justify-content: space-around;
}

.play-again {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.winner {
}

.againBtn {
}
